<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dog-caught-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,390},{86,78}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{86,78}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>dog-caught-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{112,78}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>dog-jump-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{70,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{70,92}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>dog-jump-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{66,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{66,64}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>dog-laugh-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,260},{58,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{58,78}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>dog-laugh-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,180},{58,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{58,78}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>dog-walk-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{106,80}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{106,80}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>dog-walk-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{102,86}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{102,86}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>dog-walk-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{104,86}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{104,86}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>dog-walk-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{110,80}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{110,80}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>dog-walk-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{106,80}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{106,80}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>dog-walk-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{106,96}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{106,96}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>duck-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,340},{68,48}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{68,48}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>duck-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,132},{68,40}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,28},{68,40}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>duck-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,174},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{64,56}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>duck-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,122},{50,62}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,62}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>duck-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,390},{64,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>duck-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,456},{54,62}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{54,62}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>duck-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,174},{48,62}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{48,62}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>duck-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,68},{64,62}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{64,62}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>duck-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,304},{60,60}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{60,60}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>duck-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,240},{62,58}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{62,58}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>duck-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,84},{36,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{36,60}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>duck-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,84},{36,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{36,60}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1397231e7e207f91f850dd689d8bc6d9$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
